

body{
    margin:0;
    background:#fb7416;
    font-family:Arial, Helvetica, sans-serif;
}

.main-container{
    margin:0px;
    width:100%;
    height:100vh;
    border-radius:8px;
    overflow:hidden;
    position:relative;
   
}

/* FULL COVER IMAGE */
.img-container{
   
    inset:0;
    width: 65%;
    height: 100%;
    float:right;
    background-image:url("main.png");
    background-size:cover;
    background-repeat:no-repeat;

    /* cinematic framing */
    background-position: right center;
}
/* THIN BAR */
.nav-bar{
    position:absolute;
    top:20px;
    right:20px;

    display:flex;
    gap:28px;

    padding:10px 22px;
    border-radius:40px;

    background:#fb7416;
    backdrop-filter:blur(10px);
}

/* ITEMS */
.nav-item{
    color:black;
    font-size:18px;
    cursor:pointer;
    white-space:nowrap;
    transition:.25s;
}

.nav-item:hover{
    color:white;
    transform:translateY(-3px);
}
.overlay{
    position:absolute;
    top:0;
    left:0;

    width:55%;
    height:100%;

    z-index:2;

    padding:80px 60px;   /* inner spacing only */
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    justify-content:center;

   background:linear-gradient(
    90deg,
    rgba(0,0,0,0.08),
    rgba(0,0,0,0.10),
    transparent
);

    backdrop-filter:blur(6px);
}
.overlay p{
    color: red;
}
.nav-bar{
    z-index:3;
}
.card-container{
    width:100%;
    padding:40px 60px;     /* outer spacing */
    box-sizing:border-box;

    display:flex;
    flex-wrap:wrap;

    gap:30px;              /* ⭐ cards ke beech space */

    background:#fb7416;
}

.card {
    background: #fb7416;
   
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.book{
    text-decoration:none;
}

.card h4 {
    margin: 0;
    padding: 8px;
    background:#fb7416;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.card p {
    padding: 0 8px 8px;
    color: #000;
   text-decoration: none;
    font-size: 12px;
    line-height:1.4;
}
.img-container-2{
     position:absolute;
    top:-120px;      /* ⭐ pull upward */
    left:-30px;

    width:500px;
    height:360px;

    background:url("header.png") no-repeat left top;
    background-size:contain;

    z-index:4;
}
.gifs{
    position:absolute;

    /* ⭐ vertical ko fixed optical anchor do */
    top:146px;

    /* ⭐ horizontal responsive rakho */
    left:clamp(240px, 32%, 420px);

    width:clamp(90px, 10vw, 160px);
    height:clamp(90px, 10vw, 160px);

    background:url("baba.gif") no-repeat center;
    background-size:contain;
}